p {
    font-size: 22pt;
}

p#gruby_sudak {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}

#dlawszyskich_sudak {
    color: orange;
    font-size: 10pt;
    font-family: Arial;
}
